@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
